[2020-04-25 20:15] jkataja opened #1 "Example usage shows different repository name"
Repository name is different in the example usage template for the action, shows cmavr8/checkov-action

[2020-04-25 20:18] jkataja opened #2 "Whitelist for Checkov failures"
I would like to configure which failing checks do not cause the action to fail. For instance, to whitelist the rule CKV_AWS_24: "Ensure no security groups allow ingress from 0.0.0.0:0 to port 22"

[2020-04-27 06:37] schosterbarak commented on #1
thank you! fixed :)

[2020-04-27 06:37] #1 closed

[2020-04-27 08:12] schosterbarak commented on #2
Hi @jkataja  you can suppress/skip checkov checks using the following syntax:
https://www.checkov.io/2.Concepts/Suppressions.html

[2020-04-27 08:12] #2 closed

[2020-05-14 23:25] lmasaya opened #5 "Allow passing of whitelisting and blacklisting parameters to action"
Current action only allows for specifying the target directory for checkov checks.
Allow passing list of checks to whitelist or blacklist.

Submitted #4 as a proposal of functionality

[2020-05-20 21:20] edhgoose opened #6 "Add a problem matcher"
I'm not sure exactly how you'd do this, so it might be best just done in a README, but the following problem matcher will help parse the output:

[code]

So that you get annotations like this:

<img width="1046" alt="Annotations on GitHub" src="https://user-images.githubusercontent.com/1108173/82498490-fe223900-9ae7-11ea-9f13-85f762232365.png">

I've added it by making my check look like this:

[c

[2020-05-21 04:52] schosterbarak commented on #6
Looks super valuable!
Checkov also has a json output format. would it help?

[2020-05-21 04:53] schosterbarak commented on #5
Thank you for this!

[2020-05-21 04:53] #5 closed

[2020-05-21 06:14] edhgoose commented on #6
I did look at that briefly - the problem is the output has to be parsed with a regex, so it's a bit weird in that manner and probably easier this way.

[2020-05-21 11:01] schosterbarak commented on #6
@edhgoose take a look: https://github.com/schosterbarak/baraktest/pull/1/files
updated on checkov-action@master and will do a release now.

[2020-05-21 11:01] #6 closed

[2020-05-21 19:26] tymartin-novu opened #9 "Allow quiet output"
It could be nice to allow folks to enable the `--quiet` flag on `checkov` in this Github Action. That could reduce some of the scrolling through the Github Actions UI for users should they need/want to find what failed the checks.

[2020-05-21 22:09] edhgoose commented on #6
Nice! Thanks @schosterbarak - we've got this setup now!

[2020-05-22 20:32] #9 closed

[2020-05-23 15:26] twmartin opened #11 "Add checkov version pin mechanism"
Some folks may wish to opt-in to `checkov` package updates within in CI pipelines on their own timeline. Some sort of version pin mechanism in this action would likely be appreciated by that crowd.

[2020-05-23 16:50] schosterbarak commented on #11
interesting. do you have an example of a project that did it right and we can take inspiration from?

[2020-05-23 21:15] twmartin commented on #11
I must admit that I'm pretty naive to Github Actions yet, but I did some searching and only found a single example as reference: https://github.com/marketplace/actions/ansible-lint; however, I don't particularly care for how that approach results in `ansible-lint` getting installed once in the Dockerfile at the latest version, then a second time in the entrypoint at the pinned version. I suspect t

[2020-05-25 15:01] cmavr8 commented on #11
I might be misunderstanding the request, but what if you pin the version used in the yml file used by Actions?

For example, instead of using
`        uses: bridgecrewio/checkov-action@master`
you would use
`        uses: bridgecrewio/checkov-action@v11`

See [last line of Readme](https://github.com/bridgecrewio/checkov-action/blob/master/README.md#example-usage).

[2020-05-25 15:13] twmartin commented on #11
@cmavr8 - we did have the action pinned to v10, but I believe the `RUN pip install -U checkov` at https://github.com/bridgecrewio/checkov-action/blob/master/Dockerfile#L6 results in the latest version of the `checkov` being pulled for every action run.

[2020-05-29 08:50] cmavr8 commented on #11
In case it wasn't clear: I agree with you, my suggestion doesn't solve the issue.

[2020-06-03 15:21] kobrikx opened #12 "Have problems with using"
Hello! When i try to use your action - it cannot make dockerfile image with this error:

[code]

[2020-06-03 15:25] schosterbarak commented on #12
Hey I just pushed a fix, can you try again?

[2020-06-03 15:37] kobrikx commented on #12
<img width="951" alt="Снимок экрана 2020-06-03 в 18 34 31" src="https://user-images.githubusercontent.com/24703846/83657092-16568580-a5c9-11ea-8aa6-918b4d3152c3.png">

[2020-06-03 15:40] schosterbarak commented on #12
thanks! fixed :)

[2020-06-03 15:40] #12 closed

[2020-06-03 15:42] schosterbarak commented on #11
done! take a look on the github action on this: https://github.com/bridgecrewio/checkov-action/blob/master/.github/workflows/build.yml

[2020-06-03 15:42] #11 closed

[2020-06-03 21:47] twmartin commented on #11
This looks super slick!

[2020-08-21 16:58] mdesmarest opened #14 "Feature request: Integration with Reviewdog"
Please integrate Checkov with Reviewdog below, they host a template to make it easy to host the action. Using a tool like this allows you to run checks against changes as the workflow action runs on pull requests  and will allow issues to be address and resolved on the entirety of the repository separately. Without this pull requests may fail for errors not relates to changes that are being pushed

[2020-08-31 19:50] libertyy opened #15 "Feature Request: Support --external-checks-XXX"
Feature Request:

action.yml to support --external-checks-dir and --external-checks-git

[2020-08-31 19:57] libertyy opened #16 "Feature Request: file-by-file checks for Pull Requests"
Feature request:
Support out of the box the ability to report only on files modified within a Pull Request.

In the event of a Pull Request, do not scan the entire target directory. Instead, invoke checkov only against those files modified within the PR.

[2020-09-30 22:44] MPV commented on #14
Sounds like #15 and #16 describes these changes too (but more general and specific to Reviewdog).

[2020-11-13 12:52] Waban-smile commented on #14
Hello there,

Reviewdog integration could be great as it provides a better integration with the GitHub PR interface and checks.
I'm sorry I don't have spare time to implement this right now, but shouldn't be that hard using the templates provided by Reviewdog

Have a nice day and ty for this great tool =)

[2020-12-03 12:58] MPV opened #20 "RecursionError: maximum recursion depth exceeded while calling a Python object"
Looks like the `master` branch of this action is broken since a couple of days/weeks back?

It ends up failing with `RecursionError: maximum recursion depth exceeded while calling a Python object`

<img width="1297" alt="Skärmavbild 2020-12-03 kl  13 56 03" src="https://user-images.githubusercontent.com/62675/101020794-4f1ee980-356f-11eb-852f-d503a3ed5dee.png">

[code]

[2020-12-03 15:51] schosterbarak commented on #20
Hi @MPV  thank you for reporting this. i have hard time reproducing this one.
can you share a terraform code sample here or via DM at http://slack.bridgecrew.io/ ?

[2020-12-10 18:40] pndurette opened #21 ""Latest" release (v13) from June 2020 gets picked up by Dependabot"
Hi,

We're using Dependabot for GitHub Actions and it keeps wanting to update to `bridgecrewio/checkov-action@v13`, which is tagged as `latest` in GitHub and the Marketplace, (and/or is the highest, not sure what Dependabot looks for), when in fact it is from June 2020.

Is it possible to remove this tag? Or at least update the `latest` with each new release?
Not a blocker since we can always tell

[2020-12-19 01:21] btilford opened #22 "Monorepo support"
Would adding support for autodiscovery of terraform projects within a monrepo root or subdirectory be possible? Currently I've got 3 or 4 projects where I have to write several hundreds lines of yaml to manually add each project (also remembering to update yaml when a new project is added).

[2021-01-28 22:10] MPV commented on #20
I ended up being able to reproduce this without this action by just using `checkov`, like this:

[code]

And I found the terraform code that breaks it (by commenting out different pieces until checkov started working again):

[code]

As it turns out, that's a circular dependency.

[2021-01-28 22:54] MPV commented on #20
So I guess we can close this issue. 😅

[2021-01-28 22:54] #20 closed

[2021-02-08 17:12] JamesWoolfenden opened #24 "soft fail and quiet flags ignore values"
if you set softfaif:false or quiet:false it will treat it the same as if you set it too false.

[2021-02-08 17:41] metahertz commented on #24
Thanks for your fix in bridgecrew-action @JamesWoolfenden! Will mirror here!

[2021-02-08 20:08] #24 closed

[2021-02-08 22:28] mikelax opened #26 "Add parameter for output_format"
# Overview

As a developer, I would like to specify the format of the checkov output. The `checkov` cli already supports the `--output` attribute.

# Requirements

* Add a new optional parameter to the github action called `output_format`
* valid accepted values are:  cli, json, junitxml, github_failed_only

[2021-02-09 00:01] metahertz commented on #21
Hey @pndurette! Thanks for reporting this. Just checking for some history on V13, but looks like we can just scrap the tag!

[2021-02-09 00:10] metahertz commented on #26
Thanks for #27 !

[2021-02-09 00:23] metahertz commented on #16
Thanks for raising this @libertyy
Sorry for the review delay!

I think reviewdog as in #14 makes more sense that writing logic specific to the action. OK to collapse these issues in favour of #14?

Also just as an FYI if interested, our Bridgecrew Github app supports automated PR scanning and issue annotation/comments:
![](https://mk0bridgecrewioa9g63.kinstacdn.com/wp-content/uploads/github-inline

[2021-02-09 00:36] metahertz commented on #22
Hi Ben,

Would something like the following allow you to just get the failed checks section of the json without a new flag?

[code]

[code]

[2021-02-09 06:43] #21 closed

[2021-02-09 06:44] #26 closed

[2021-02-09 16:22] mbainter commented on #16
I am not familiar with reviewdog, so I don't know what that implementation would look like.  I think more generic support would be better so that anyone using it can integrate it with their existing tools.  If the reviewdog suggestion gets us to that point anyway then I'm for it.

[2021-02-09 19:59] btilford commented on #22
I'm basically looking for something that includes directories/files to
check. Maybe an excludes would be easier to implement at least then things
can run a bit faster and dependencies/libs aren't being scanned recursively.

On Mon, Feb 8, 2021 at 5:36 PM Matt Johnson <notifications@github.com>
wrote:

[2021-02-10 14:46] metahertz commented on #21
Deleted the v13 tag @pndurette  :) Let us know if this doesnt solve your dependabot issues!

[2021-02-26 15:33] efernandes-dev-ops opened #29 "Turn off failure for warnings"
Is there a way to turn off the failure for warnings? So rather than skipping the check, would rather just display the warning.

For example:

Check: CKV_AWS_40: "Ensure IAM policies are attached only to groups or roles (Reducing access management complexity may in-turn reduce opportunity for a principal to inadvertently receive or retain excessive privileges.)"
	FAILED for resource: aws_iam_user_p

[2021-02-26 15:54] JamesWoolfenden commented on #29
You need the flag -- soft_fail

[2021-02-26 16:05] efernandes-dev-ops commented on #29
But will that stop failures for all failed checks though - I saw the comment in the file that stated

soft_fail: true # optional: do not return an error code if there are failed checks

or will not return an error code for warning only?

will try it

[2021-02-26 18:23] JamesWoolfenden commented on #29
I believe it affects the error code

[2021-02-27 17:44] njgibbon commented on #22
Hello @btilford

I think we may be able to satisfy what you're after as-is. I'm not sure about excluding dirs yet. But checkout below:

I use this action configuration to run a recursive checkov scan only in the 'modules' directory. By specifying 'framework: terraform' I am only running terraform scans.
[code]

Will this do what you want? You could do things like use several blocks if you want to

[2021-03-06 19:17] JamesWoolfenden opened #30 "Action to output results to file"
Id like to be able to upload the output of the runner as a github artifact, and so I need the output as a file.

[2021-04-01 09:11] efernandes-dev-ops commented on #29
I am re-opening this issue as soft_fail just ignores all errors, if we are ignoring all errors there is no point in using checkov in the first place.

Here is an example of us using soft fail -

[code]

[2021-04-06 09:15] JamesWoolfenden commented on #29
If you want to suppress individual rules try using --skip-check SKIP_CHECK at the cli or add the suppression.

[2021-04-15 13:34] #29 closed

[2021-04-20 13:24] kralablee opened #38 "GitHub actions never fail"
The tool works really well & I'd love to adopt it across the board, however, it doesn't matter what I put into the:
soft_fail:
setting it never fails & never feeds back to the pull request. The snip of the output of the tool shows this:
-----------------
 "ARM/" "" "CKV_AZURE_17" "true" "false" "arm" "" "" "github_failed_only" "true" "WARNING"
input_soft_fail:false
running checkov on directory: AR

[2021-04-20 13:57] joferrao commented on #38
I have a similar issue: the output shows many errors, I have `soft_fail: false` but still both the job and the step where the action is used show as successful.
Is there a way to force the action to make the job/step fail for failures found?

[2021-05-03 10:56] ArneRiemann4711 opened #39 "Failed to Download"
Hi, since yesterday we get an 403 when trying to use checkov action (-:

[code]

[code]

[2021-05-03 11:19] schosterbarak commented on #39
@ArneRiemann4711 can you please try again now?

[2021-05-03 11:29] ArneRiemann4711 commented on #39
(-:

[code]

[2021-05-03 14:49] ArneRiemann4711 commented on #39
Looks like it is working again !!

[2021-05-03 15:56] #39 closed

[2021-05-06 09:34] aesteve opened #40 "Custom checks seems broken since ~ 2021-05-03"
Hello and thank you for providing a Github action for Checkov.

We have been using `@master` action for a few months now, and it was working perfectly fine with the following setup:

[code]

With a few custom checks in the `checks` directory.
It has been working as expected for a few months, but it fails since 2021-05-03 **approximately**. (no changes on our repo)

It seems related to the external

[2021-05-06 15:02] nimrodkor commented on #40
Good catch. Will take a look now

[2021-05-06 15:22] nimrodkor commented on #40
Hey @aesteve , can you try again now, against master?

[2021-05-07 07:06] aesteve commented on #40
Can confirm it's working again! Thanks!

[2021-05-07 07:06] #40 closed

[2021-05-10 08:16] lukerosser opened #41 "Allow version selection"
At the minute the checkov version is tied to the Github action version, and there's no correlation in the tags so if you want to pin a specific checkov version it's quite awkward.

It would be nice to change this to an input in the action, similar to how this tflint action works: https://github.com/marketplace/actions/setup-tflint#tflint_version

This allows more configurable functionality, and al

[2021-05-12 08:07] ArneRiemann4711 opened #42 "Download failed Github Action"
Howdy,

again GitHub Actions failed to Download checkov action (-:

[code]

[2021-05-12 12:44] gpaquet85 commented on #42
Same issue on our side. Interested to know if action is possible to fix it ;)

[2021-05-12 13:07] schosterbarak commented on #42
hey @gpaquet85 @ArneRiemann4711 can you try now?

[2021-05-12 13:30] gpaquet85 commented on #42
It looks ok now Thanks for your support @schosterbarak ;)

[2021-05-12 13:32] ArneRiemann4711 commented on #42
Works again thx @schosterbarak

[2021-05-19 22:52] dhishan opened #43 "Github Action Docker build failing at pip install missing requirements.txt v12.0.1"
[checkov.log](https://github.com/bridgecrewio/checkov-action/files/6511861/checkov.log)

[2021-05-19 23:00] dhishan commented on #43
Actually it works with master, but by default when you install it uses the last release tag which is buggy - 12.0.1. Can you create a new release with the latest stable?

[2021-05-19 23:04] dhishan commented on #38
Another tip to make it more friendly: The tool should also generate and upload the SARIF file. This way the security vulnerabilities are captured in the securities tab.

[2021-05-23 11:35] nimrodkor commented on #43
So, we've had a lot of releases since 12.0.1. It was simply the only tag that was officially released on github. Should be fixed now, thanks for reporting @dhishan !

[2021-05-23 11:35] #43 closed

[2021-05-31 07:59] ArneRiemann4711 opened #44 "Master build failed (-:"
Master failed on build

`ERROR: Could not find a version that satisfies the requirement checkov==2.0.173 (from versions: 0.0.0, 0.0.749, 1.0.27, 1.0.28, 1.0.29, 1.0.30, 1.0.31, 1.0.32, 1.0.33, 1.0.37, 1.0.45, 1.0.46, 1.0.47, 1.0.48, 1.0.49, 1.0.50, 1.0.51, 1.0.54, 1.0.55, 1.0.56, 1.0.57, 1.0.58, 1.0.59, 1.0.60, 1.0.62, 1.0.63, 1.0.64, 1.0.66, 1.0.67, 1.0.70, 1.0.71, 1.0.74, 1.0.75, 1.0.76, 1.0.77,

[2021-05-31 08:30] schosterbarak commented on #44
fixing now.

[2021-05-31 10:48] ArneRiemann4711 commented on #44
Seems to be working again!

[2021-05-31 13:57] #44 closed

[2021-06-21 18:26] mikelax opened #45 "Feature Request: Add support for checkov config-file as parameter"
# Overview

As a devops build user, I would like to use a config-file checked in to source code to configure checkov instead of specifying values in the GitHub Action workflow step.

Now that [checkov support a config-file](https://bridgecrew.io/blog/checkov-config-file-repeatably-support-multiple-environments/) for loading attributes, I should be able to specify a value for a single `config-file`

[2021-06-22 00:00] mikelax opened #46 "GitHub Action to update checkov version is failing"
It appears there is a security or configuration that changed about four days ago that is preventing the github action to update to newer versions of checkov.

[code]

[2021-06-22 06:59] nimrodkor commented on #46
Thanks for reporting!
Just pushed a fix, let's see if this continues to fail

[2021-06-22 07:11] nimrodkor commented on #46
It is now upgraded. Thanks for noticing @mikelax !

[2021-06-22 07:11] #46 closed

[2021-07-01 15:54] apinzo1 commented on #42
Reporting this issue again...
<img width="1044" alt="Screen Shot 2021-07-01 at 10 40 15 AM" src="https://user-images.githubusercontent.com/55505682/124154070-bb58c180-da5a-11eb-8535-345337e0f7d0.png">

[2021-08-11 04:59] nitishkumar1991 opened #50 "Add support for selecting checkov version while creating checkov actions file"
I want to select a particular version of checkov approved by organisation while writing the yaml for checkov-action for terraform.

[2021-08-11 05:02] nitishkumar1991 opened #51 "Add support for saving the output into a file and upload to github artifactory"
Needs the support to save scan results to a file corresponding to output format such as cli to txt, or github_failed_only to txt or junitxml to a xml file and upload to artifactory or repo itself.

[2021-08-19 17:33] jamiepedwards commented on #21
@metahertz i still see the v13 tag and am having the same issue as @pndurette - just noticed that we have a whole bunch of projects that are using this >year old version because Dependabot picked it up.  I don't think this is resolved.

[2021-08-31 08:09] sebastien-prudhomme commented on #45
Hi @mikelax, latest versions of the GitHub action have this option.

[2021-08-31 12:46] mikelax commented on #45
nice! thanks @sebastien-prudhomme .

[2021-08-31 12:46] #45 closed

[2021-08-31 12:48] mikelax commented on #15
I believe that this is currently supported if you configure the external checks in a checkov config file and the config file is used by the GitHub action.

example snippet of `.checkov.yml` file
[code]

[2021-09-01 12:48] ArneRiemann4711 opened #53 "Checkov Action Crashes"
Howdy,

[code]

Any ideas?

Tried:

- Rerunning Actions

[2021-09-01 15:49] schosterbarak commented on #53
Thanks for reporting @ArneRiemann4711  i just tried to apply a fix. can you let me know if that is still happening for you?

[2021-09-01 18:56] #53 closed

[2021-09-01 18:56] #42 closed

[2021-09-02 04:53] ArneRiemann4711 commented on #53
Works, thanks!

[2021-09-15 06:53] josh-barker opened #55 "Add support for skip-path"
Hi,

I'd like to be able to specify to ignore a path in the action.

My terraform modules have the following directory structure:

[code]

I'd like to run checkov on the root directory, but exclude the `examples` directory.

Cheers

[2021-09-16 07:18] ArneRiemann4711 opened #56 "Checkov Github Action - Docker pull fails"
Howdy, we cannot pull the checkov action (-:

[code]

[2021-09-16 07:32] pennywisdom commented on #56
The 2.0.417 tag does not appear to be available in the docker registry - https://hub.docker.com/r/bridgecrew/checkov/tags?page=1&ordering=last_updated&name=2.0.417

2.0.416 is the latest from what I can see.

[2021-09-16 07:33] ArneRiemann4711 commented on #56
We use the action like this:   uses: bridgecrewio/checkov-action@master

[code]

[2021-09-16 07:36] pennywisdom commented on #56
You can use:
[code]

To get the previous working container etc. Until master is fixed.

[2021-09-16 07:46] ArneRiemann4711 commented on #56
.. would love to see the master working again (20+ workflows to adjust..)

[2021-09-16 08:32] Guidurand commented on #56
Same problem on our side, there is no version 2.0.417 available on docker hub

[2021-09-16 09:52] mleybsage commented on #56
we have the same issue. We don't want to have to change 40+ repos, if possible

[2021-09-16 11:12] MichaelRheault commented on #56
Same issue⏳

[2021-09-16 11:29] JamesWoolfenden commented on #56
There's a new build in the checkov pipe that should resolve this (~30 Mins) if it doesnt say, if it does also say.

[2021-09-16 11:57] ArneRiemann4711 commented on #56
Hooray :-) Works!

[2021-09-16 12:00] ArneRiemann4711 commented on #56
Seems to be working ;) Thanks!

[2021-09-16 14:08] JamesWoolfenden commented on #56
resolved

[2021-09-16 14:08] #56 closed

[2021-10-02 20:06] mohitsaxenaknoldus commented on #30
Hey, I'd like to work on this. Do you want the output of these commands in a separate file?:

[code]

[2021-10-04 12:18] mikelax commented on #30
@mohitsaxenaknoldus I think the request is for the output of the checkov cli command, not the output of the GitHub action.

[2021-10-04 16:53] toast-gear opened #58 "Add the ability to define a container `--user` as an input"
**Feature**
Add the ability to define a UID and GID to run the actions container on.

**Problem**
As it stands when you use this action the `.terraform` folder will have its owner set to `root root` as the container makes changes to the files. This then results in the next run of the workflow failing as the checkout action fails to delete the `.terraform` folder due to it being owned by `root root

[2021-10-05 10:51] mohitsaxenaknoldus commented on #30
@mikelax Where exactly is that command being called? I didn't find it in the repo.

[2021-10-05 18:49] edhgoose opened #60 "Did v13 disappear?"
We've noticed our use of the checkov GitHub Action has started failing. The reason being that v13 doesn't exist.

I can see in the releases there is no v13 - but it definitely used to work.

Am I going loopy or has v13 disappeared?

Here's what we had in our GitHub Action:

`bridgecrewio/checkov-action/v13`

And here's an example line from a successful run of a GitHub Action with it in:

home/runn

[2021-10-05 21:00] edhgoose commented on #60
Thanks for the quick response @schosterbarak - I think we'd assumed 13 was the latest. We'll move back to 12.

Just to check, is https://github.com/bridgecrewio/checkov-action/releases/tag/v12.641.0 the latest now?

Thank you!

[2021-10-12 14:32] mikelax commented on #50
@JamesWoolfenden  now that this action is running from a docker image, can the [specific version tag of the docker container](https://github.com/bridgecrewio/checkov-action/blob/ede91aeedf50e89ba2873e30eeb19144a9c34f61/action.yml#L65) be replaced with an optional version number, and if not specified it can default to `latest` ?

[2021-10-12 20:24] gofrolist opened #63 "Major tag v12 is not updated"
Major tag v12 is not updated and pointed to very old commit https://github.com/bridgecrewio/checkov-action/commits/v12

Regarding to official GitHub [recommendations](https://github.com/actions/toolkit/blob/master/docs/action-versioning.md#recommendations) and [here](https://docs.github.com/en/actions/creating-actions/about-custom-actions#using-tags-for-release-management)

Because of that I can't

[2021-10-12 20:35] gofrolist commented on #63
You can use other GitHub actions like [actions-tagger](https://github.com/marketplace/actions/actions-tagger) or [update-major-minor-semver](https://github.com/marketplace/actions/update-major-minor-semver) for this purpose.

[2021-10-15 13:24] BobinMathew opened #64 "README.md's slack-community badge/image is not correct"
![Screenshot 2021-10-15 185336](https://user-images.githubusercontent.com/32351527/137494071-f38301b1-ce29-494e-a807-6a8770b47148.png)

[2021-10-17 20:09] schosterbarak commented on #63
@gofrolist we are always updating the tag. see: https://github.com/bridgecrewio/checkov-action/commits/v12.947.0

[2021-10-17 20:10] schosterbarak commented on #60
https://github.com/bridgecrewio/checkov-action/commits/v12.947.0 is currently the latest

[2021-10-20 20:25] nmarchini commented on #51
I have this use case as well, the output_format option allows us to set JUNIT but there is now way to write the XML to a file so that we an then use another action (such as https://github.com/marketplace/actions/publish-unit-test-results ) to publish the test results in the Workflow summary.

[2021-11-08 15:36] Prashanthkool7 opened #65 "Checkov-action unable to scan all the serverless.yml in root directory"
Hello Team,
Here is the my current checkov_scan.yml file
name: Run Checkov action serverless
id: checkov1
uses: bridgecrewio/checkov-action@master
with:
#skip_check: CKV_AWS_23 # optional: skip a specific check_id
#quiet: true # optional: display only failed checks
#log_level: DEBUG # optional: set log level. Default WARNING
output_format: cli # optional: the output format, one of: cli, json, juni

[2021-11-08 15:38] Prashanthkool7 commented on #65
can you please enable file options so that we can able to scan multiple serverless-XXX.yml files

Checkov -f "filename 1, filename 2, filename 3"
 instead of checkov -d

[2021-11-08 15:54] schosterbarak commented on #65
this issue is related to: https://github.com/bridgecrewio/checkov/issues/1904

[2021-12-30 09:39] hazcod opened #67 "Feature: support SARIF output"
This enabled the Action to integrate with GitHub Security.

[2022-01-06 18:29] wulfland commented on #67
SARIF is supported - but the file is not uploaded by default to GitHub. I think SARIF should be the default and the upload should be performed by the action. But the following code works:

[code]

[2022-01-06 21:49] #67 closed

[2022-01-07 08:19] wulfland opened #68 "SARIF output format not documented and it should be the default output format for the action"
SARIF is supported but not documented in the `action.yml` documentation of the `output_format` parameter:

[code]

I think SARIF should be the default and the results should be uploaded to GitHub by the action so that the results show up under `Security` | `Code scanning alerts`. Right now you have to perform the  upload manually:

[code]

[2022-01-07 08:54] wulfland commented on #68
I created a pr for the documentation part I think the upload of the sarif is better done inside the container or a [post-entrypoint](https://docs.github.com/en/actions/creating-actions/metadata-syntax-for-github-actions#runs-for-docker-actions) script [using the api](https://docs.github.com/en/rest/reference/code-scanning#upload-an-analysis-as-sarif-data).

[2022-01-11 02:28] jsimoni opened #70 "checkov-action not working with terraform plans"
My terraform/terragrunt process generates a number of terraform plans as json files.

When I run:
`checkov -d applied/accounts/plans/`
locally, checkov successfully provides the results of scanning all of those json files

However, when I run:
[code]
from GitHub Actions

I get the following error:
[code]

I have verified that the json plan files are correctly being created in GitHub Actions.

[2022-01-11 13:15] rotemavni commented on #70
Hi @jsimoni , thanks for reporting the issue.
I tried to reproduce this issue by running checkov-action on some plan file we have, and the run was successful.

Is it possible to provide an example for a file that causes this bug for you?

[2022-01-11 13:33] jsimoni commented on #70
@rotemavni, I've changed the AWS Account ID, but otherwise this is the json contents.

`{"format_version":"1.0","terraform_version":"1.1.3","planned_values":{"root_module":{"resources":[{"address":"aws_iam_policy.policy","mode":"managed","type":"aws_iam_policy","name":"policy","provider_name":"registry.terraform.io/hashicorp/aws","schema_version":0,"values":{"arn":"arn:aws:iam::475565242001:policy

[2022-01-11 14:07] rotemavni commented on #70
I created a plan file with the given content in a checkov fork -
https://github.com/rotemavni/checkov/blob/master/tests/terraform/runner/resources/plan_rotem/tfplan.json

And created an action to run checkov-action on that file -
https://github.com/rotemavni/checkov/blob/master/.github/workflows/pr-test.yml

The action passes without errors and with the same output when I'm scanning in the CLI:
ht

[2022-01-11 14:58] jsimoni commented on #70
@rotemavni no, it's never worked & I get the same error using `bridgecrewio/checkov-action@v12.1151.0`

[2022-01-12 09:40] rotemavni commented on #70
@jsimoni Can you try to `ls` and verify the plan file is where you expect it to be?

[2022-01-12 11:35] jsimoni commented on #70
@rotemavni, I have run ls & cat (to get the contents).  The file is where it's expected...the json state file is generated by the following terragrunt hook:

[code]

The exact same hook runs locally to generate the json state files there and running
`checkov -d applied/accounts/plans/`
locally is able to load the local json files generated.

[2022-01-12 11:37] #68 closed

[2022-01-12 20:33] jsimoni commented on #70
@rotemavni here are the full execution logs from GHA:

[code]

[2022-01-13 12:59] ManasaVaishnaviTinnaluriTR opened #71 "not scanning kubernetes yaml files"
2022-01-13 12:52:52,477 [MainThread  ] [DEBUG]  Cannot read file contents: helm/x/y/z/test-connection.yml - is it a yaml?

files are skipped from being scanned?

webhook:
 - name: scanning helm
        uses: bridgecrewio/checkov-action@v12.641.0
        with:
          directory: helm
          framework: kubernetes
          download_external_modules: false
          log_level: DEBUG

[2022-01-13 13:00] nimrodkor commented on #71
This is a downstream issue, please open an issue in https://www.github.com/bridgecrewio/checkov

[2022-01-13 13:00] #71 closed

[2022-01-14 10:00] alen-z commented on #22
Did not test, but `directory: dir1/ -d dir2/ -d dir3/` might do the trick to scan selected set of directories.

While we're at it, can we enable Checkov GH actions to take multiple directories?

[2022-01-18 02:11] jsimoni commented on #70
@rotemavni any thoughts here?  we've confirmed that we can also run checkov against json plan files that we've checked in. so it's just an issue with transient files.  we've also tried running checkov via

[code]
and I get similar results...

[code]

[2022-01-18 07:46] rotemavni commented on #70
@jsimoni
I apologize for the delay.
On which OS your action is running?

[2022-01-18 10:42] jsimoni commented on #70
ubuntu-latest

________________________________
From: Rotem Avni ***@***.***>
Sent: Tuesday, January 18, 2022 2:47:00 AM
To: bridgecrewio/checkov-action ***@***.***>
Cc: Jay Simoni ***@***.***>; Mention ***@***.***>
Subject: Re: [bridgecrewio/checkov-action] checkov-action not working with terraform plans (Issue #70)

CAUTION: EXTERNAL EMAIL

@jsimoni<https://nam11.safelinks.protection.outlook.com

[2022-01-18 10:48] rotemavni commented on #70
And were the plans created on ubuntu as well?

[2022-01-18 11:04] nimrodkor commented on #70
Hey @jsimoni !
In the plan file content you shared there's lots of `\r\n`, which is the newline character in windows. That got us to suspect it isn't the same as the one generated in the action, which runs on ubuntu... That's the source of @rotemavni 's question :)

[2022-01-18 11:33] jsimoni commented on #70
yes, the plans were created on ubuntu-latest in the same GHA.

![image](https://user-images.githubusercontent.com/5125008/149929877-a2e4b622-daf4-4b4d-81b8-bb794dccb323.png)

[2022-01-19 10:50] toast-gear opened #73 "Convert checkov-action to Javascript"
Same reasons as https://github.com/bridgecrewio/yor-action/issues/5, a conversion would also fix https://github.com/bridgecrewio/checkov-action/issues/58 properly without the user having to set anything by avoiding the permission issue entirely.

[2022-01-19 10:58] nimrodkor commented on #73
Are you up for it @toast-gear ? Should be easier since we don't need the branch handling for commits 😄

[2022-01-19 11:27] toast-gear commented on #73
😀

I'm afraid in terms of Javascript I'm a level 0 wizard. Thought I'd raise it though incase someone out there wants to do the work as it would be a goo enhancement.

[2022-01-19 11:34] toast-gear commented on #51
Does it not put the results into `$CHECKOV_RESULTS` which you can then write to disk `echo "$CHECKOV_RESULTS" > results.xml`?

[2022-01-19 11:35] toast-gear commented on #30
I was able to just write the `$CHECKOV_RESULTS` to disk `echo "$CHECKOV_RESULTS" > results.xml` and go from there?

[2022-01-21 16:45] gavinjohnson-crowdcube opened #74 "Github Actions is broken"
Since commit bb8d383 (https://github.com/bridgecrewio/checkov-action/commit/bb8d383b8d584be62a3bac0aac083fd87a8bc77f) the github actions is broken.  The 2.0.743 tag isn't published in the docker hub (https://hub.docker.com/r/bridgecrew/checkov/tags?page=1&name=2.0.743). Is it meant to be 2.0.742?

[2022-01-21 20:20] tsmithv11 commented on #74
Thank you for reporting! This has been fixed (updated to 2.0.744)

[2022-01-21 20:20] #74 closed

[2022-01-21 22:10] toast-gear opened #75 "Provide a problem matcher"
It would be great if checkov provided a problem matcher with this action so end users could receive a richer error output experience in GitHub Actions by allowing test failures and their reasoning to bubble up to the UI as detected by the problem matcher https://github.com/jsoref/actions-runner/blob/main/docs/adrs/0276-problem-matchers.md.

This would be especially nice as it's common to upload yo

[2022-01-24 23:17] regel opened #76 "Github Action ignores baseline file"
**Describe the issue**

Running checkov in github action (runs docker image bridgecrew/checkov:2.0.756) ignores the baseline, outputs all errors, and exits with non-zero status code.

**Test 1**

The path to the baseline file is defined in checkov config file. Test is KO. Checkov runs, but reports all errors, as-if the baseline did not exist, and Github action fails due to non-zero status.

Conten

[2022-01-25 06:11] nimrodkor commented on #76
Discussion is on the matching issue in checkov :), https://github.com/bridgecrewio/checkov/issues/2272

[2022-01-25 17:44] jsimoni commented on #70
@nimrodkor @rotemavni any thoughts on this one?

[2022-01-25 21:29] regel commented on #76
I'm closing this one since the matching issue was resolved.

[2022-01-25 21:29] #76 closed

[2022-02-07 12:18] nayoa opened #77 "Default --directory parameter overrides directory in .checkov.yml"
.checkov.yml:
[code]
Action config:
[code]
Expected outcome:
[code]

Current outcome:
[code]

[2022-02-07 14:30] kartikp10 commented on #77
Hey @nayoa, if the in-line --directory argument is overriding the config file, that behavior is by design. See the note at the bottom of `checkov --help`

[code]
Let me know if that is not what you meant.

[2022-02-11 12:02] ptchau2003 commented on #77
@kartikp10 : The action is still on . directory instead of the directory mentioned in config.yaml
[code]

[2022-02-22 10:51] HariSekhon commented on #55
Use `skip-path` in `.checkov.yaml` - see my Templates repo for a working example that I use to skip scanning sub-modules:

https://github.com/HariSekhon/Templates/blob/master/.checkov.yaml

[2022-02-22 10:52] HariSekhon commented on #38
@dhishan The SARIF upload functionality was added since your comment as I'm using this successfully to get the alerts in my GitHub repo's Security tab.

[2022-02-22 10:55] HariSekhon commented on #22
@alen-z I'm using `.checkov.yaml` to work around more options than the GitHub Action supports, such as skipping multiple directories with `skip-path`. Here is my working template that I use in this and other repos:

https://github.com/HariSekhon/Templates/blob/master/.checkov.yaml

[2022-03-02 22:07] josh-barker commented on #55
Hey @HariSekhon , thanks for your suggestion. I was hoping to set `skip-path` in the github action, instead of `.checkov.yaml`.

Cheers

[2022-03-03 22:21] josh-barker commented on #55
Hey @HariSekhon, that's a nice pattern! Thanks for sharing! :-)

[2022-03-09 09:13] lukerosser opened #78 "Problem matcher json error"
Using master (https://github.com/bridgecrewio/checkov-action/commit/85417aef5d506726ecd1cb49a24cd2ead4ec667f) I'm currently getting an error about a missing problem matcher file:

[code]

Checkov still runs but it causes the workflow to show as failed despite all checkov rules passing

[2022-03-09 09:15] lukerosser commented on #78
Looks to relate to: https://github.com/bridgecrewio/checkov/issues/2588

[2022-03-09 09:16] #78 closed

[2022-03-09 09:48] ravindra-bhadti-cko opened #79 "v12.1345 - Unable to find bridgecrew-problem-matcher.json"
For the latest version of the action release: https://github.com/bridgecrewio/checkov-action/tree/v12.1345.0

The following error is seen when trying to run the action:

[code]

We're using it like this:
[code]

[2022-03-09 10:28] arogic commented on #79
We are having the same issues. Can you specify a Release Tag or version when using the GitHub Action?

Something like this:

[code]

[2022-03-09 10:51] ravindra-bhadti-cko commented on #79
Thanks we've just switched to an older version and it seems to be working. Awaiting a fix from bridgecrew.

[2022-03-09 11:15] stawik-mesa commented on #79
Had the same problem

Seems to be fixed within:

https://github.com/bridgecrewio/checkov-action/commit/0f8bcd34cbf9c3274be41e12eb5ab4ab6af59aab
https://github.com/bridgecrewio/checkov/pull/2589
https://github.com/bridgecrewio/checkov/releases/tag/2.0.929

latest version 2.0.929 is working again

[2022-03-09 18:51] nimrodkor commented on #79
Closing as this was fixed

[2022-03-09 18:51] #79 closed

[2022-03-20 15:57] hulkk opened #80 "Bug: Check results are reported twice"
When using checkov github action, check results are reported twice.

This issue is reproducible every time.

<img width="417" alt="Screenshot 2022-03-20 at 17 47 33" src="https://user-images.githubusercontent.com/24830359/159170799-59fa2325-18da-4dd9-8e8b-87e571919972.png">

version: 2.0.977
*edit detailed version information in comment https://github.com/bridgecrewio/checkov-action/issues/80#issu

[2022-03-20 16:09] hulkk commented on #80
Actually everything is reported twice, no matter if there are failed checks.

[code]

[2022-03-21 06:55] nimrodkor commented on #80
@gruebel Could it be due to a change we did in the SARIF output?

[2022-04-07 13:51] switchdk commented on #80
This also happens on version `2.0.1037`

[2022-04-10 19:52] gruebel commented on #80
the output changes to SARIF are much longer ago. this looks like a complete different issue, because in the provided logs the banner is shown twice, which is super weird.

[2022-04-12 13:27] switchdk commented on #80
I noticed something peculiar. When using `checkov --config-file .checkov.yaml` relating to the output. For every entry under `directory` in the checkov config file, you will get checkov output + the previous output.

Example:

**.checkov.yaml**
[code]

**output**
[code]

With a single entry under `directories`, I only get the output once.

[2022-04-12 17:46] switchdk commented on #77
Although I experience the same problem and it is driving me nuts, I think the subject/title of this issue should more accurately reflect the problem. This is not about the `--directory` parameter but about the `directory` setting in `.checkov.yaml` being ignored (completely). It makes it impossible to use the checkov-action for larger repos or monorepos. As an example, I need to check Kubernetes m

[2022-04-12 19:09] hulkk commented on #80
I troubleshooted this a bit more.

Last version without this bug: `bridgecrewio/checkov-action@v12.880.0`

[code]

First version with this bug: `bridgecrewio/checkov-action@v12.881.0`

[code]

I hope that this helps you track down and fix this bug.

[2022-04-19 08:26] AliAllomani opened #81 "Unable to process command '::add-matcher::checkov-problem-matcher.json' successfully"
version: `v12.1478.0`

[code]

[code]

[code]

[2022-04-19 11:03] nimrodkor commented on #81
Hey @AliAllomani !
Does this reproduce if you use the latest version?

Just trying to understand if this is a real bug, or just a long time without a version release

[2022-04-19 11:14] AliAllomani commented on #81
Hey @nimrodkor, which version you're referring to ? the used action version `v12.1478.0` released 2 days ago and on the docker side the matcher code is the same in the master branch

https://github.com/bridgecrewio/checkov/blob/e8b4619ce9a72c7961cf6c9bc132212d8a7ff3df/github_action_resources/entrypoint.sh#L11-L14

[2022-04-19 14:20] nimrodkor commented on #81
Weird, I'm not getting it on my test repo:
[code]

link - https://github.com/nimrodkor/test_yor_action/runs/6077669789?check_suite_focus=true

[2022-04-20 08:56] solita-timohu commented on #80
Hey @nimrodkor have you noticed the info regarding versions in which this bug was introduced?

[2022-04-25 20:12] AliAllomani commented on #81
@nimrodkor thank you for the test, this might be an issue with the self-hosted runner setup i tested on, will close this issue for now

[2022-04-25 20:12] #81 closed

[2022-05-04 15:08] michalbil opened #82 "Add support for "compact" output option"
The Action currently lacks support for "compact" output, that is available in CLI (using "--compact" flag).

Adding the option requires following feature to be implemented https://github.com/bridgecrewio/checkov/issues/2919

[2022-05-12 12:49] the-tatanka opened #83 "Option to specify 'check' severity"
There is an option to check individual checks via their identifiers.
It would also be good if you could select the checks by their severity.

For example only "--check HIGH" as in https://github.com/bridgecrewio/checkov with "checkov -d . --check MEDIUM".

My current config is:
[code]

[2022-05-21 13:30] ricardo-f commented on #38
@HariSekhon Can you point any doc that show how to to do the upload?

[2022-05-24 10:09] johannesclaesson opened #85 "Add option for stderr supression"
Some frameworks can generate incorrect parse errors. This leads to often unwanted python exception spam. This can be supressed simply by redirecting stderr to /dev/null when running checkov from command line. When using checkov-action, however, I fail to see such an option.

[2022-05-24 12:19] iaacautomation opened #86 "Docker pull limitations"
Since docker now has a limit pull is there a possibility of allowing a different docker image repo to be used instead of dockerhub?

I am running into this issue

[2022-05-24 20:24] hulkk commented on #80
Hey @nimrodkor, any updates?

[2022-06-01 21:59] roymartinezblanco opened #88 "Terraform plan scanning not possible with Github-Actions"
**Describe the issue**
I've been trying to use checkov's integration with Github actions (bridgecrewio/checkov-action) to scan our terraform plan file (https://bridgecrew.io/blog/terraform-plan-security-scanning-checkov/).

Relates to: https://github.com/bridgecrewio/checkov/issues/3042
While debugging to figure out why I could not scan a single file with the GitHub action I noticed that [action d

[2022-06-02 07:48] ankon opened #89 "Provide a "v12" branch"
We use the checkov-action to run checkov on our AWS/Terraform/GCP infrastructure definitions as a PR check, and it works great.

But, we are a bit hesitant to use the "master" version of the action (likelihood of incompatible changes), but at the same time have quite a bit of work to follow the specific minor/patch tags. Ideally we would like to point to "bridgecrewio/checkov-action@v12", where we

[2022-06-11 22:04] #88 closed

[2022-06-14 11:37] Fran-Rg commented on #80
Only thing that change between them is:
https://github.com/bridgecrewio/checkov-action/compare/v12.880.0...v12.881.0
e.g. from docker://bridgecrew/checkov:2.0.422 to docker://bridgecrew/checkov:2.0.423

But comparing them doesn't show any change:
https://hub.docker.com/layers/checkov/bridgecrew/checkov/2.0.423/images/sha256-fb93440138d99fbf28c7ed37e1cb8eb0ed27024f8b59c091d5ead2b43620b428?context=e

[2022-06-14 18:38] hulkk commented on #80
Both of the links are the same, that's why there isn't any difference?

[2022-06-15 10:10] Fran-Rg commented on #80
My bad:
* 2.0.422: https://hub.docker.com/layers/checkov/bridgecrew/checkov/2.0.422/images/sha256-cab838718265e9344ca08d972cb57b5b1a36b529fcb9a2abbf33e5412a8978d9?context=explore
* 2.0.423: https://hub.docker.com/layers/checkov/bridgecrew/checkov/2.0.423/images/sha256-fb93440138d99fbf28c7ed37e1cb8eb0ed27024f8b59c091d5ead2b43620b428?context=explore

Actually, silly me * 2, the difference is:
COPY f

[2022-06-15 10:12] Fran-Rg commented on #80
This is also the checkov diff between 2.0.422 and 2.0.423:
https://github.com/bridgecrewio/checkov/compare/2.0.422...2.0.423

[2022-06-15 10:19] Fran-Rg commented on #80
https://github.com/bridgecrewio/checkov/commit/9eca41c4c120de7244ed6bd8189ae9df739a7817

[2022-06-15 10:23] Fran-Rg commented on #80
I think that entrypoint should check if environment variable "GITHUB_ACTION" exists before echoing with the "::set-output..."
See: https://docs.github.com/en/actions/learn-github-actions/environment-variables

[2022-06-15 15:41] #80 closed

[2022-06-15 16:16] hulkk commented on #80
@nimrodkor I think this issue is not resolved until github action is updated to use newer version of the container.

[2022-06-15 20:55] gruebel commented on #80
hey @hulkk if release a new `checkov` version, we automatically create the corresponding GitHub Action version, so with the latest version [v12.1619.0](https://github.com/bridgecrewio/checkov-action/releases/tag/v12.1619.0) the fix should be inside. Feel free to leave some feedback, if it solved your issue.

[2022-06-18 19:21] hulkk commented on #80
Oh, true. There is a new tag. I happened to just check the releases which haven't been updated in months.
<img width="205" alt="Screenshot 2022-06-18 at 22 19 54" src="https://user-images.githubusercontent.com/24830359/174453714-9716c424-4ad1-4bb4-938c-6813d643a401.png">

[2022-06-23 09:11] hazcod opened #91 "Deprecate CKV_GCP_24"
PodSecurityPolicy is getting deprecated and replaced.

[2022-08-01 23:08] sbe-arg commented on #89
https://github.com/bridgecrewio/checkov-action/pull/92

[2022-08-10 10:29] rorysedgwick commented on #83
[This feature has been in Checkov itself for a few months now](https://bridgecrew.io/blog/checkov-iac-policy-severities-prioritize-skip-fail/) and for me is one of the most useful configuration options to have. Enabling this setting in the Github Action would be by far the lowest overhead to integrate checkov into existing IaC projects, and get meaningful but well-scoped feedback for new projects

[2022-08-19 03:46] sbe-arg commented on #89
This has been resolved

[2022-08-19 03:46] sbe-arg commented on #63
Has been respolved can be closed now

[2022-08-19 03:47] sbe-arg commented on #89
https://github.com/bridgecrewio/checkov-action/releases/tag/v12

[2022-08-19 03:47] sbe-arg commented on #63
https://github.com/bridgecrewio/checkov-action/releases/tag/v12

[2022-08-19 04:08] sbe-arg commented on #83
![image](https://user-images.githubusercontent.com/23391642/185540842-3a12c722-6eaa-414f-8b15-4e088f7a640d.png)

[code]

[2022-08-19 04:12] sbe-arg commented on #83
I reckon you need at least 2 and a coma XD

[2022-08-19 08:10] ankon commented on #89
I'll close this issue as "resolved", thanks a lot, @sbe-arg!

[2022-08-19 08:10] #89 closed

[2022-09-06 17:10] infa-ddeore opened #94 "Host key verification failed"
getting below error in github action (image used `bridgecrew/checkov:2.1.192`), what could be the reason?

[code]

[2022-09-06 19:00] highb opened #95 "More descriptive CHANGELOG"
Currently, changes to this action have a 1-to-1 correlation with new builds of the upstream checkov tool off main with no information about what the changes really involve. As a consumer of this changelog, I'd like to know what I'm getting when I pull down a new version so I would like to propose that when this action releases, it pulls the changelog for the release from the parent project into th

[2022-09-08 14:16] jburgel-ohpen commented on #30
If the output within CHECKOV_RESULTS is too big Argument list too long might be thrown between operations . New version of checkov itself has a CLI command parameter that does allow such operation --output-file-path , it only has to be added in the action for it to work ( default value is CLI )

[2022-09-16 12:48] patheard opened #97 "Renovate's GitHub app worker blocked from looking up tags for this action"
# Summary
We're using [renovatebot/renovate](https://github.com/renovatebot/renovate)'s GitHub app to manage our dependency updates.  Recently, we've noticed that Renovate can't lookup this action's tags, with the following error:
[code]

This used to work, so I'm guessing there's been a change to your GitHub org's IP allow list.  Any chance someone could look into this?

Here's the associated dis

[2022-09-17 15:19] gruebel commented on #97
hey @patheard thanks for reaching out. I answered inside the discussion thread. I don't see any problem on our side, either renovate changed something or GitHub did. This repo is public for any reads and we keep an IP whitelist for direct write permissions to it. This behaviour is in place for many months, so I don't think we can change anything and I don't understand why we should.

[2022-09-17 15:37] patheard commented on #97
Yup, totally agree - I dug into it more and the responsibility is on the Renovate side to first safe-list their app's IP address:
https://github.com/renovatebot/renovate/discussions/17826#discussioncomment-3668839

If they did that, then it would be possible on your side to have your org allow those app IP address.

Thanks for looking into it.

[2022-09-17 15:37] #97 closed

[2022-09-20 14:34] zamirTo1 commented on #70
?

[2022-09-20 18:10] zamirTo1 opened #98 "checkov-action check on plan file (json) not working suppression.py NoneType"
Hey,
Running on ubuntu-latest with python 3.9.13 x64
getting this error:
[code]

[2022-09-20 19:43] fleroux514 opened #99 "Feature Request: Support `--repo-root-for-plan-enrichment` option"
Tried to use the Github Action as this:
[code]

and got the following error:

![image](https://user-images.githubusercontent.com/17277004/191348391-bed5fc9b-cd2a-4a69-bc55-1ec91498ab03.png)

[2022-09-20 19:59] Saarett commented on #98
Hey @zamirTo1 , can you please share an example file so we can reproduce it?

[2022-09-21 07:17] Saarett commented on #94
Hi @infa-ddeore
Sounds like an SSH problem not related to the repository
https://www.google.com/search?q=Host+key+verification+failed

[2022-09-21 09:25] zamirTo1 commented on #98
TF file:
[code]

TF plan json file:
[code]

action:
[code]

[2022-09-22 05:07] #98 closed

[2022-10-03 09:22] nass-altice opened #101 "Can't download external (private) repositories"
Hi,

We've got an issue with downloading external terraform modules on private github namespace.

[code]

We tried with `github_pat` variable without success and also tried "git config" hack to replace all `https://github.com` occurences:
[code]

Here is our github action configuration for checkov:
[code]

Can you help ?
If you need some details, feel free to ask.

Thanks !

[2022-10-03 12:15] tronxd commented on #101
Hey @nass-altice, can you please try setting the `GITHUB_PAT` with your personal access token and try again? It seems that you set a lower case name of the variable

[2022-10-03 13:06] rrey-aviatrix opened #102 "Latest action version fails with Python error"
[code]
Also failing with `v12.1802.0`.

I had to revert to `v12.1800.0` to avoid the failure.

[2022-10-03 15:47] mikelax commented on #30
@jburgel-ohpen yes I think that this feature is now fully supported available for use within the GitHub action.
I just looked at a recent action run using this action that run ran 15 minutes ago. Notice the file line, it looks like it now creates a file automatically as this action runs with a default value of `sarif` if no value is provided for the `output_format` parameter.

I can open a PR that

[2022-10-03 16:10] nass-altice commented on #101
hey @tronxd,
Thanks for replying.
I tried with another personal access token without success and, about your second suggestion, i'm just respecting [action inputs](https://github.com/bridgecrewio/checkov-action/blob/master/action.yml#L76) so you suggest to add same variable as environment vars like this ?

[code]

If right, i already tried :/

[2022-10-03 16:35] mikelax commented on #51
Is this a duplicate of #30 ?

[2022-10-06 08:00] tronxd commented on #101
Hey @nass-altice , thank you for the clarification.
Can you please share your terraform's module `source` attribute value so we can try replicate the issue on our end? You can of course omit any sensitive information first from it

[2022-10-06 12:09] nass-altice commented on #101
Yes of course:

[code]

[2022-10-07 07:59] #95 closed

[2022-10-11 12:54] tronxd commented on #101
Hi @nass-altice, I have inspected the configuration and we have support in checkov for unprefixed github.com URLs, so assuming your token is valid, this should work.
Can you please try scanning your configuration directly with checkov? (e.g. `checkov -d <path_to_conf_dir> --framework terraform` and see if the issue replicates? I want to understand if the issue is in checkov or in the checkov GH ac

[2022-10-12 11:46] chokhareganesh opened #104 "Github action not returning results Output for Terraform"
while referring output from Github action, Its returning empty result output
[https://github.com/bridgecrewio/checkov-action/blob/7659cc40e76ef92e33d630efbca5011e9afcb4e6/action.yml#L100-L102](https://github.com/bridgecrewio/checkov-action/blob/7659cc40e76ef92e33d630efbca5011e9afcb4e6/action.yml#L100-L102)

and I'm using below step to get result
[code]

[2022-10-14 15:37] gruebel commented on #102
hey @rrey-aviatrix thanks for reaching out. I tested it the latest version and had no issues. can you share the GHA config you are using?

[2022-10-14 16:07] gruebel commented on #104
hey @chokhareganesh thanks for reaching out. I tested it and it works quite well as you can see here https://github.com/gruebel/terragoat/actions/runs/3251239508/workflow
is your workflow public and you can share a link to it?

[2022-10-18 09:22] chokhareganesh commented on #104
Thanks @gruebel  For conforming,
Will it also print result when scan is failed ?

[2022-10-20 07:56] nass-altice commented on #101
Sorry for the late ...
Yes of course ! When i run that command, it works like it does.
It's only through GH action

[2022-10-21 11:59] ubaid-ansari21 commented on #104
Hey @chokhareganesh you can use below if ``` echo ${{ steps.checkov.outputs.results }} ```  is not working for you.

[code]

[2022-10-21 12:06] ubaid-ansari21 opened #105 "GitHub Actions - set-output command is deprecated"
Hey Team,

I was working on chekcov github action and found the below warning.

```Warning: The `set-output` command is deprecated and will be disabled soon. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/ ```

Can we update action accordingly?

[2022-10-21 20:40] gruebel commented on #105
hey @ubaid-ansari21 thanks for reaching out. It was already fixed and merged yesterday https://github.com/bridgecrewio/checkov/pull/3699 so it will be available with the next version.

[2022-10-23 13:23] tronxd commented on #101
@nass-altice Can you please try adding a `run` step to your GH action that is similar to your workaround?
`- run: git config --global url.https://${PRIVATE_GITHUB_TOKEN}@github.com/.insteadOf https://github.com/`

[2022-10-23 14:25] santhoshratala commented on #105
@gruebel,... I'm seeing the following error ever since the fix was updated,...
`Error: Unable to process file command 'output' successfully.
Error: Invalid format '       _               _              '`

after some digging, found this -> https://stackoverflow.com/questions/74137120/how-to-fix-or-avoid-error-unable-to-process-file-command-output-successfully

[2022-10-23 16:38] vemulkri commented on #105
Hi, seeing same error `Error: Unable to process file command 'output' successfully.
Error: Invalid format '       _               _              '`

related to merge: https://github.com/bridgecrewio/checkov/pull/3710 .

[2022-10-23 19:40] MrHash commented on #105
same here

[2022-10-24 00:44] g0pinath commented on #105
replacing uses: bridgecrewio/checkov-action@master with uses: bridgecrewio/checkov-action@v12.1810.0 works.

If they can merge this tag to master, then it should be restored to the way it worked last week

[2022-10-24 07:36] torivara commented on #105
We are experiencing the same issue. After some initial testing I pinned to v12.1810.0, and this works as expected. Seems like something changed in v12.1811.0 that broke something. The v12 tag now points to a version that does not work.

We are using it to scan terraform_plans, and this worked fine until the latest version.

[2022-10-24 08:24] mpicque opened #106 "Github action fails with versions 12.1811.0 and 12.1812.0"
Hello,

We encountered an error with versions 12.1811.0 and 12.1812.0 (using tag [v12](https://github.com/bridgecrewio/checkov-action/tree/v12)).

The logs:
[code]

Our github action file:
[code]

The same action works with version 12.1810.0.

[2022-10-24 08:48] gruebel commented on #106
duplicate of #105

[2022-10-24 08:48] #106 closed

[2022-10-24 10:18] gruebel commented on #105
fixed with the latest tag `v12.1814.0` and also `v12`

[2022-10-24 10:18] #105 closed

[2022-10-24 11:22] gruebel commented on #104
@ubaid-ansari21 thanks, yeah either way you will something returned.

[2022-10-24 11:22] #104 closed

[2022-10-25 15:11] jfechner-foxo opened #108 "Latest version fails (or succeeds) silently..."
Running the latest version of the action [v12.1815.0](https://github.com/bridgecrewio/checkov-action/releases/tag/v12.1815.0) with Checkov version 2.1.290, Checkov will either fail with no output or succeed with no output.

Example success (the command succeeded and there are no failed checks, but no output indicating what was run):
[code]

Example failure (there are failed checks, but no output):

[2022-10-27 04:50] josh-barker commented on #108
I've pinned the version to https://github.com/bridgecrewio/checkov-action/releases/tag/v12.1810.0 and that seems to have resolved it.

[2022-10-27 06:23] nikkiadoro commented on #108
I experience the same. In my case the Checkov GHA executes twice, displaying same results.

[2022-10-27 09:54] #30 closed

[2022-10-27 20:59] gruebel commented on #108
hey @jfechner-foxo thanks for reaching out. This seems to be a side-effect of resolving the deprecation issue. the result can be found currently in the GitHub output, but my fix will also bring it back to the console.

[2022-10-31 16:09] #108 closed

[2022-11-01 14:23] ma-caylent opened #109 "Update nodejs"
Hey! you are probably already aware of this, but nodejs12 is going to be deprecated soon

Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: actions/checkout, actions/checkout

[2022-11-01 15:58] gruebel commented on #109
hey @ma-caylent thanks for reaching out. I'm not sure, what exactly we should update, because our action is Docker based and the used actions in our build are up-to-date.

[2022-11-01 15:59] gruebel commented on #102
feel free to reach out again with more info or an other issue you have.

[2022-11-01 15:59] #102 closed

[2022-11-01 23:17] shavo007 commented on #108
hi @gruebel , what is the git sha or tag for the action that includes this change?

[2022-11-03 14:54] nass-altice commented on #101
Yes of course ! It's what i've done.
It works for terraform in github actions but not for checkov.

[2022-11-08 14:25] audunsolemdal opened #110 "Is it possible to optionally skip pulling docker image?"
Currently I have a terraform reuseable workflow for my github organization. By default we run checkov on pull_request, as long as the optional input variable "skipCheckov" is not set to something else

[code]

The skip logic works fine, but this step runs regardless

![image](https://user-images.githubusercontent.com/21334768/200589631-ec73c32e-dddf-47ab-9555-cb60ce435750.png)

We have some runner

[2022-11-08 23:12] exosyphon-rxrevu opened #111 "Failing across multiple repos on v12.1835.0"
We are seeing multiple repos fail when running checkov-action. See stack trace below.

[code]

[2022-11-09 01:07] ivan-pinatti-ciandt commented on #41
+1 on this.

It helps to lock the version when running it locally through other tools like `task` or `pre-commit` and then match the version on the CI/CD pipeline (GHA).

[2022-11-09 06:54] ChanochShayner commented on #111
Hey, @exosyphon-rxrevu thanks,
we're investigating it and working on a fix.
This issue comes from the progress we doing now on rendering dynamic blocks, so if you can share with us the problematic templates, then it would be easier to fix the issue, Thanks.

[2022-11-09 07:34] gruebel commented on #109
feel free to reach out with more info regarding this issue.

[2022-11-09 07:34] #109 closed

[2022-11-09 07:58] gruebel commented on #111
a new version (`v12.1836.0`) with a fix was released, but hard to tell, if it is the only problem without having the original templates.

[2022-11-09 16:10] exosyphon-rxrevu commented on #111
Here is the workflow yaml we are using. Looks like it is still failing today.

[code]

[2022-11-09 16:11] exosyphon-rxrevu commented on #111
Here is the error we are getting today. Appreciate ya'll working on this.

[code]

[2022-11-09 17:11] ChanochShayner commented on #111
@exosyphon-rxrevu Thanks for the update,
 It seems that the resource that is failing is a nested dynamic module, it will help us a lot if you can share with us the problematic TF nested module (or an example of it), then it would be easier to fix the issue, Thanks.

[2022-11-09 18:58] exosyphon-rxrevu commented on #111
Heres the layout that we are using:

/modules/alb/main.tf

Everything is under the modules folder but there are many more folders similar to the alb one and all of them currently fail.

[2022-11-09 19:54] ChanochShayner commented on #111
@exosyphon-rxrevu Thanks, but if you can share with us the `specific resource` that cause the action to fail it helps us support those kinds of nested dynamic block resources.
Example of nested resource that we are currently supporting - [Here](https://github.com/bridgecrewio/checkov/blob/master/tests/terraform/graph/variable_rendering/test_resources/dynamic_blocks_with_nested/main.tf)

[2022-11-10 11:48] dennisbrouwer91 commented on #111
We are facing the same issue on our CheckOV runs, it works on 2.2.35, but after that it stopped. We reference a TF Module that is privately stored in Terraform Cloud. Maybe that helps with debugging?

[2022-11-10 12:06] ChanochShayner commented on #111
Hey, @dennisbrouwer91 thanks for the update,
 - I've opened a PR to fix the specific `AttributeError` that cause your action to fail, and also warp all the new flow with try-except to avoid crashing on this.
 - Yes, if you can share the TF resource and the module (or an example of it) it will help us a lot.

[2022-11-10 12:13] dennisbrouwer91 commented on #111
Hey @ChanochShayner , do you have a link to the PR so i can check?
This is how we reference the module :
`module "tags" {
  source      = "app.terraform.io/<orgname>/tags/aws"
  version     = "~> 0.1.0"
}`

[2022-11-10 12:28] ChanochShayner commented on #111
Sure, here is the [PR](https://github.com/bridgecrewio/checkov/pull/3837),
Regarding the TF Module/resource - I am trying to understand the big picture, you can see in the attached PR a full case of a resource with dynamic blocks (with the variables.tf locals.tf module.tf files), so if you can share more about the specific resource it will help us.

[2022-11-10 21:26] Julio-M opened #112 "Checkov action fails for certain modules due to what seems like datatype issue"
Facing an issue when checkov runs this module `"terraform-aws-modules/eks/aws"`. Specifically for `metadata_options` and `remote_access`. Seems like the issue is in the code below where checkov is expecting a list but gets a dictionary so it throws an error, if I remove the indices then it runs ok. Also, it seems that it's linked to the external modules, cause if I run checkov with `--download-ext

[2022-11-11 07:55] gruebel commented on #112
hey @Julio-M thanks for reaching out. Yeah this looks like a `checkov` issue, so I'm moving it to the other project 🙂

[2022-11-18 14:52] gpehlev commented on #70
When will this be fixed? I'm running the latest Checkov action (v12.1874.0) and I get the following error:

2022-11-18 14:41:49,634 [MainThread  ] [DEBUG]  [tf_plan] - Failed to parse file /github/workspace/terragrunt_plan.json
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/checkov/terraform/context_parsers/tf_plan/__init__.py", line 17, in parse
    template, te

[2022-11-22 22:58] gruebel commented on #70
hey @gpehlev I still can't reproduce it. Would be great, if you can share a failing plan file without personal information inside.

As a workaround you can add an env var, which was created for a different purpose, but it uses a different parsing mechanism, which could probably solve your problem
[code]

[2022-11-25 15:26] magnus-fors opened #113 "Failing version checkov-action@v12.1886.0 for framework github_actions"
Framework github_actions started to fail in version v12.1886.0 (version v12.1885.0 works fine).
[code]
Fails with the falling call stack:
[code]

[2022-11-26 17:15] gruebel commented on #113
hey @magnus-fors thanks for reaching out. Is it possible to share the workflow file, which results in this exception? I have a hard to time to reproduce it 😓

[2022-11-28 15:32] #86 closed

[2022-11-28 15:37] gruebel commented on #86
hey @iaacautomation we now offer our `checkov` image in two different public image registries

- `bridgecrew/checkov` (Docker Hub)
- `ghcr.io/bridgecrewio/checkov` (GitHub Packages, which can be found [here]( https://github.com/bridgecrewio/checkov/pkgs/container/checkov))

we also changed the the GHA to use the GitHub Packages one and the Docker Hub one.